@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Aldrich');

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


* {

    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;

}

.backgroundinfo {
    background-color: rgb(248, 248, 248);
    width: 85%;
    padding: 5vw;
}
.background {
    background-color: rgb(248, 248, 248);
    padding: 5vw;
}

.title {

    color: rgb(49, 49, 49);
    font-size: 5vw;
    margin: 0vw;
    border-top: 5vw;
    font-family: 'Satisfy', cursive;
    align-content: center;
    text-align: center;
    position: static;


}

.subtitle {
    color: rgb(49, 49, 49);
    font-size: 2vw;
    margin-bottom: 1vw;
}

.autotextsize {
    font-size: 2vw;
}

.texthighlight {
    color: rgb(255, 153, 51);
    font-style: italic;
}

.navigation {
    width: 10%;
    max-width: 1px;
}

.left {
    width: auto;
    height: auto;
    float: left;
    text-align: center;
}

.right {
    width: 50%;
    height: 50%;
    float: right;
}

.padding {
    margin: 1vw;
}

.customwidth {
    width: 50%;
    height: 50%;
}

.centerfocus {
    width: 50%;
    height: 50%;
}

.size_allign {
    width: auto;
    height: 100px;
}

}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: 'Roboto', sans-serif font-size:45px;
    font-weight: bold;
    padding: 16px 54px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

.myButton:active {
    position: relative;
    top: 1px;
}


.textbig {
    font-size: 2.5vw;
    font-family: 'Merriweather', serif;
}

.divider {
    height: 5px;
    width: 100%;
    display: block;
    /* for use on default inline elements like span */
    margin: 5px 0;
    overflow: hidden;
    background-color: gray;
}

.textauto {
    font-size: 1.5vw;
}

.fade-in {
    -webkit-animation: fade-in 2s ease;
    -moz-animation: fade-in ease-in-out 2s both;
    -ms-animation: fade-in ease-in-out 2s both;
    -o-animation: fade-in ease-in-out 2s both;
    animation: fade-in 2s ease;
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

.nointerfere {
    position: absolute;
}

footer {
    background-color: rgb(241, 241, 241);
    text-align: center;
}



@media screen and (max-width: 1050px) {
    .subtitle {
        font-size: 5vw;
    }

    .textauto {
        font-size: 3vw;
    }

    .header {
        text-align: center;
        padding: 3vw;
    }

    .row {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        max-width: 50%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
        .menu{
            font-size: 3vw
        }
    }
}

.right {
    position: absolute;
    text-align: right;
    float: right;
}

.menu {
    width: 5    vw;
    background-color: rgb(248, 248, 248);
}

.menu ul {
    margin: 0;
    padding: 0;
    float: right;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    float: right;
    text-decoration: underline;
    font-size: 1.5vw;
    color: border-left:;
    padding: 10.5px 11px;
    background-color: rgb(248, 248, 248);
}

.menu ul li a:visited {
    color: black;
}
.menu ul li a:link {
    color: black;
}
.menu ul li a:hover,
.menu ul li .current {
    color: white;
    background-color: black;
}

img {
    z-index: 99;
}

.centre {
    position: absolute;
    text-align: center;
    margin: 0 auto;
}

.plisence {
    font-family: 'Aldrich', sans-serif;
    font-size: 0.5w;
}

.condense {
    margin: 2vw;
    0vw;
}

.autoimg {
    width: 15vw;
    height: 15vw;
}

@media screen and (min-width: 0px) {
    .imgresize {
        width: 20vw;
    }

    .autoimg {
        width: 10vw;
        height: 10vw;
    }
}

.container {
    background-color: rgb(248, 248, 248);
}
.gap {
    height: 5vw;
}
.lilgap {
    height: 2vw;
}